body {
    display: flex;
    justify-content: center;
}

.main-section {
    border: 5px solid black;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.display {
    height: 200px;
    width: 300px;
    background-color: gray;
}

.num-pad {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.rows {
    display: flex;
    gap: 8px;
}

button {
    height: 30px;
    font-size: medium;
    border-radius: 8px;
    flex: 1;
}

.operator {
    background-color: orange;
}